$color_primary: #88194e;
$color_secundary: #eb6a2c;
$color_title: #192a3e;
$color_text: #8e97a1;
$color_white: #fff;
$color_white_hover: #ffeeee;
$color_primary_hover: #97225b;
$color_secundary_hover: #ff7f43;

$bg_primary: $color_primary;
$bg_secundary: $color_secundary;
$bg_white: $color_white;
